{% extends 'base.html.twig' %}

{% block title %}Administration - Entraineurs{% endblock %}

{% block body %}
    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix" style="max-width: 1500px;">
                <div class="row">
                    {% include 'admin/navbar.html.twig' %}
                    <div class="nobottommargin clearfix col-md-9">
                        <h4>Edition de {{ trainer.name }}</h4>
                        {{ form(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascript %}
    $(document).on('change', '.custom-file-input', function () {
        let fileName = $(this).val().replace(/\\/g, '/').replace(/.*\//, '');
        $(this).parent('.custom-file').find('.custom-file-label').text(fileName);
    });
{% endblock %}