{% extends 'base.html.twig' %}

{% block title %}Administration - Entraineurs{% endblock %}

{% block body %}
    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix" style="max-width: 1500px;">
                <div class="row">
                    {% include 'admin/navbar.html.twig' %}
                    <div class="nobottommargin clearfix col-md-9">
                        <h4>Liste des entraineurs</h4>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Catégorie</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for trainer in trainers %}
                                <tr>
                                    <td>{{ trainer.name }}</td>
                                    <td>{{ trainer.category | title}}</td>
                                    <td><a href="{{ url('admin.trainers.edit', {trainer: trainer.id}) }}" class="btn btn-primary btn-sm">Editer</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}